
<h1>Contacts</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-8"></div>
    <%= link_to 'New Contact', new_user_contact_path(@user), class:"btn btn-success col-sm-2" %>
  </div><br>
  <div class="list-group">
    <% @contacts.each do |contact| %>
      <div class="row">
        <div class="col-sm-2"></div>
        <a href=<%= user_contact_path(@user, contact) %> class="list-group-item col-sm-8">
          <%= image_tag contact.avatar.url(:thumb) %>
          <%= "#{contact.first_name} #{contact.last_name}" %>
        </a>
      </div>
    <% end %>
  </div>
</div>
